{% extends 'base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}
    <h1>Listar Productos</h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in prod %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% load static %}
                {% if producto.foto_producto %}
                    <img src="{% static producto.foto_producto %}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                {% else %}
                    <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Sin imagen">
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                    <p class="card-text"><strong>Tipo:</strong> {{ producto.tipo_producto }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ producto.precio_producto }}</p>
                    <p class="card-text"><strong>Stock:</strong> {{ producto.stock_producto }}</p>
                </div>
                
                {% if user.is_authenticated %}
                  {% if user.username == "adrivargas" %}
                     <div class="card-footer text-center">
                      <a href="{% url 'editar_producto' producto.id_producto %}" class="btn btn-primary">Editar</a>
                     </div>
                  {% else %}
                     <div class="card-footer text-center">
                        <a href="{% url 'agregar_al_carrito' id_prod=producto.id_producto %}" class="btn btn-success">
                         <i class="bi bi-cart"></i>
                        </a>
                     </div>
                  {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
